<header class="jumbotron subhead" id="overview">
	<div class="container">
	  <div class="row">
	    <div class="span12">
	      <div class="squish-box">
	        <h1 class="squish-i mrl">Design &amp; Development</h1>
	        <div class="bd">
	            <p>I’m a user experience designer and front end developer with core strengths in interaction design, css, html, and javascript. I thrive solving complex problems with highly collaborative teams.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container">
	  <div class="subnav">
	    <ul class="nav nav-pills">
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">UX Design <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="#design-graphic">Graphics &amp; Template</a></li>
	          <li><a href="#interface">User Interface</a></li>
	        </ul>
	      </li>
	      <li><a href="#prototypes">Prototypes</a></li>
	      <!-- <li><a href="#processing">Processing</a></li>
	      <li><a href="#processing">Side Projects</a></li> -->
	    </ul>
	  </div>
	</div>
</header>
