<div class="gd-teaser-container ptl">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="gd-title">Hartville RV</h3>
        <hr />
        <div class="squish-box">
          <div class="squish-ext well span4 mll">
            <h3>Design, html, css</h3>
            <p>Website to showcase inventory</p>
          </div>
          <div class="bd">
            <img src="../assets/img/exhibits/hartville-rv/index.jpg">
            <img src="../assets/img/exhibits/hartville-rv/inside-featured.jpg">
            <img src="../assets/img/exhibits/hartville-rv/inside-detail.jpg">
            <img src="../assets/img/exhibits/hartville-rv/inside-new.jpg">
            <img src="../assets/img/exhibits/hartville-rv/inside-inventory.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

