<div class=" ptl">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="gd-title">Learn 2 Pitch</h3>
        <hr />
        <div class="squish-box">
          <div class="squish-ext well span4 mll">
            <h3>Design, html, css</h3>
            <p>E-comerce site with Roger Clemens featured endorcement</p>
          </div>
          <div class="bd">
            <img src="../assets/img/exhibits/l2p/index.jpg"  >
            <img src="../assets/img/exhibits/l2p/inside.jpg"  >
            <img src="../assets/img/exhibits/l2p/inside-video.jpg"  >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

