<section id="design-graphic">
  
  <div class="row">
    <div class="span8">
			<h2 class="mbl">Graphic Design &amp; Templates <small>Within3 Platform and Community Designs</small></h2>
			<h4 class="mtl mbl">Profile Account Managment</h4>
			<div class="row-fluid">
	      <ul class="thumbnails">
	        <li class="span2">
	          <a href="#platform1" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/platform-1-thumb.png" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#platform2" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/platform-2-thumb.png" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#platform3" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/platform-3-thumb.png" class="">
	          </a>
	        </li>
	      </ul>
	    </div>
			<hr>
			<div class="btn-group pull-right">
				<a href="http://morcutt.github.com/w3-styleguide/base/" class="btn btn-info btn-mini" target="_blank"><i class="icon-eye-open icon-white"></i> View Styleguid</a>
			</div>
			<h4 class="mtl mbl">Within3 Collaboration Community Design</h4>
			<div class="row-fluid">
	      <ul class="thumbnails">
	        <li class="span2">
	          <a href="#akron1" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/akron_screens-thumb.jpg" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#akron3" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/akron_screens-3-thumb.jpg" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#uh" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/uh_home_thumb.jpg" class="">
	          </a>
	        </li>
				</ul>
				<ul class="thumbnails">
					<li class="span2">
	          <a href="#ccf" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/ccf_home_thumb.jpg" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#nccn" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/nccn_base_thumb.jpg" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#ao" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/ao_home_thumb.jpg" class="">
	          </a>
	        </li>

	      </ul>
	    </div>

		</div>
    <div class="span4">
			<div class="well mll">
				<img src="/img/uh_imac.png">
	      <h2 class="mtl">Overview</h2>
				<p>With clients’ brand identities varying markedly in color and graphic treatment, the Within3 platform was intentionally designed to be visually quiet. This simplicity allows each client’s trademark to be easily distinguished, while creating consistency throughout the platform.</p>
	      <p>In an effort to customize the community experience for each brand, a front-end framework was created to provide maximum flexibility of design and presentation for each community’s individual features.</p>
				<p>With this versatility in place, an additional template and theme layer was implemented to streamline each community's speed to market.</p>
      </div>
		</div>
	</div>

</section>

<!-- Modals -->

<div id="platform1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/platform-1.png" class="">
  </div>
</div>
<div id="platform2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/platform-2.png" class="">
  </div>
</div>
<div id="platform3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/platform-3.png" class="">
  </div>
</div>
<div id="akron1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/akron_screens-1.jpg" class="">
  </div>
</div>
<div id="akron3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/akron_screens-3.jpg" class="">
  </div>
</div>
<div id="akron2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/akron_screens-2.jpg" class="">
  </div>
</div>
<div id="akron4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/akron_screens-4.jpg" class="">
  </div>
</div>
<div id="uh" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/uh_home.jpg" class="">
  </div>
</div>
<div id="ccf" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/ccf_home_v1_rev1.jpg" class="">
  </div>
</div>
<div id="nccn" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/nccn_base.jpg" class="">
  </div>
</div>
<div id="ao" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/ao_home_2.jpg" class="">
  </div>
</div>
