<section id="interface">  
  <div class="row">
    <div class="span8">
			<h2 class="mbl">User Interface <small>Within3 Platform </small></h2>
		  <div class="btn-group pull-right">
				<a href="/download/Snake-Mountain_ Storyboard.pdf" class="btn btn-info btn-mini" target="_blank"><i class="icon-file icon-white"></i> Download Storyboard</a>
				<a href="http://morcutt.github.com/w3-platform" class="btn btn-info btn-mini" target="_blank"><i class="icon-cog icon-white"></i> Launch Prototype</a>			
			</div>
			<h4 class="mtl mbl">Platform Redesign / Hackathon</h4>
			<div class="row-fluid">
	      <ul class="thumbnails">
	        <li class="span2">
	          <a href="#platform-hackathon1" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/platform-hackathon.png" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#platform-hackathon2" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/platform-hackathon1.png" class="">
	          </a>
	        </li>
	      </ul>
	    </div>
			<hr>
		  <div class="btn-group pull-right">
				<a href="http://morcutt.github.com/w3-comment-attachments/index-viz.html" class="btn btn-info btn-mini" target="_blank"><i class="icon-cog icon-white"></i> Launch Prototype</a>			
			</div>
			<h4 class="mtl mbl">Attachments on Comments</h4>
			<div class="row-fluid">
	      <ul class="thumbnails">
	        <li class="span2">
	          <a href="#attach3" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/attach-flow-thumb.png" class="">
	          </a>
	        </li>
					<li class="span2">
	          <a href="#attach1" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/attachments-on-comments-1-thumb.gif" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#attach2" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/attachments-on-comments-2-thumb.png" class="">
	          </a>
	        </li>
	      </ul>
	    </div>
			<hr>
		  <div class="btn-group pull-right">
				<a href="/download/ie-use-cases.pdf" class="btn btn-info btn-mini" target="_blank"><i class="icon-file icon-white"></i> Download Usecases</a>
			</div>
			<h4 class="mbl">Interactive Email</h4>
			<div class="row-fluid">
	      <ul class="thumbnails">
	        <li class="span2">
	          <a href="#ie-flows" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/ie-discussions-flows-thumb.png" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#ie-story" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/ie-story-board-thumb.png" class="">
	          </a>
	        </li>
	        <li class="span2">
	          <a href="#ie-req" role="button" data-toggle="modal" class="thumbnail">
							<img src="/img/ie-req-thumb.png" class="">
	          </a>
	        </li>
	      </ul>
	    </div>

		</div>
    <div class="span4">
			<div class="well mll">
				<img src="/img/attach-flow-thumb.png">
	      <h2>Overview</h2>
	      <p>Our Module object is modeled after Nicole Sullivan's <a href="http://github.com/stubbornella/oocss/wiki/Module">Module Object</a>. The major difference is that our Module object does not have an <code>inner</code> child property. Its body, header and footer are direct children. The Module object doesn't add any visual treatments. Instead, it acts as a base object to be extended by other more granular objects.</p>
      </div>
		</div>
	</div>

</section>


<div id="attach3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<img src="/img/attach-flow.png" class="">
  </div>
</div>
<div id="attach1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<img src="/img/attachments-on-comments-1.gif" class="">
  </div>
</div>
<div id="attach2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/attachments-on-comments-2.png" class="">
  </div>
</div>
<div id="ie-req" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<img src="/img/ie-req.png" class="">
  </div>
</div>
<div id="ie-flows" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/ie-discussions-flows.png" class="">
  </div>
</div>
<div id="ie-story" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/ie-story-board.png" class="">
  </div>
</div>
<div id="platform-hackathon1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/platform-hackathon.png" class="">
  </div>
</div>
<div id="platform-hackathon2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">	
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <img src="/img/platform-hackathon1.png" class="">
  </div>
</div>
