
  
  <div class="row">
    <div class="span12">
			<div class="row-fluid">
				<ul class="thumbnails">
	        <li class="span6">
			      <div class="squish-box mrl">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-association/association.html" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Collaboration Community</a>
							</div>
							<div class="bd ">
								A Within3 sales tool used to communicate their collabration community experience. This prototype was designed to be used in sales presentations to visually tell a story of how physicians would be invited, register, and collaborate on the Within3 platform.
							</div>
						</div>
	        </li>
	        <li class="span6">
			      <div class="squish-box mll">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-adboard" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Ad Board Community</a>
							</div>
							<div class="bd">
								Like the Collaboration Community prototype, the Ad Board Community prototype is a sales tool used to present a story of how physicians are invited, register, and contribute to an Within3 platform advisory board.
							</div>
						</div>
	        </li>
				</ul>
				<ul class="thumbnails">
					<li class="span6">
			      <div class="squish-box mrl">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-metrics/hepc.html" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Metrics Report</a>
							</div>
							<div class="bd ">
								A data visualization to show performance metrics within a given community. Utilizing D3 javascript and SVG library to explore posibile production solutions.
							</div>
						</div>
	        </li>
	        <li class="span6">
			      <div class="squish-box mll">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-platform" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Platform Hackathon</a>
							</div>
							<div class="bd">
								Developed over a hackathon weekend, this project explored a new platform artchitecture that revolved around the user's profile and identity within the community. A story and prototype was created to visualize and communicate new feature development that attempts to guide user experience by hinting at next steps in using the software based interests, connections, and past interaction behavior.
							</div>
						</div>
	        </li>

				</ul>
				<ul class="thumbnails">
	        <li class="span6">
			      <div class="squish-box mrl">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-comment-attachments/index-viz.html" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Attchments on Comments</a>
							</div>
							<div class="bd">
								A new feature prototype tool to help communicate requierments to developers.
							</div>
						</div>
	        </li>	        
	      </ul>
	    </div>

		</div>
	</div>

