
  
  <div class="row">
    <div class="span12">
			<div class="row-fluid">
				<ul class="thumbnails">
	        <li class="span6">
			      <div class="squish-box mrl">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-association/association.html" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Collaboration Community</a>
							</div>
							<div class="bd ">
								The Collaboration Community was developed as a sales tool to introduce the community experience on the Within3 platform. This prototype was designed to visually communicate how physicians would be invited, register, and collaborate with their respective communities on the Within3 platform.
							</div>
						</div>
	        </li>
	        <li class="span6">
			      <div class="squish-box mll">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-adboard" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Ad Board Community</a>
							</div>
							<div class="bd">
								Like the Collaboration Community, the Ad Board Community is a prototype used by the sales teams to present the process by which a physician would participate and contribute to a Within3 platform advisory board.
							</div>
						</div>
	        </li>
				</ul>
				<ul class="thumbnails">
					<li class="span6">
			      <div class="squish-box mrl">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-metrics/hepc.html" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Metrics Report</a>
							</div>
							<div class="bd ">
								The Metrics Report is a data visualization prototype, displaying the performance metrics within a given community, utilizing D3 javascript and SVG library to explore possible production solutions.
							</div>
						</div>
	        </li>
	        <li class="span6">
			      <div class="squish-box mll">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-platform" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Platform Hackathon</a>
							</div>
							<div class="bd">
								Developed over a hackfest weekend, this project explored new platform architecture which revolved around a user's profile and identity within a community. A story and prototype was created to visualize and communicate new feature development, aiming to guide user experience by hinting at their next steps based on predictions derived from the individual’s charted interests, connections, and past interaction behavior.
							</div>
						</div>
	        </li>

				</ul>
				<ul class="thumbnails">
	        <li class="span6">
			      <div class="squish-box mrl">
							<div class="mbm">
								<a href="http://morcutt.github.com/w3-comment-attachments/index-viz.html" class="btn btn-info btn-large" target="_blank"><i class="icon-cog icon-white"></i> Launch Attchments on Comments</a>
							</div>
							<div class="bd">
								Attachments on Comments was an additional feature prototype tool, designed to help communicate requirements to developers.
							</div>
						</div>
	        </li>	        
	      </ul>
	    </div>

		</div>
	</div>

