---
layout: default
section: base
---
<div class="gd-teaser-container">
	<div class="container">
		<section id="" class="section-head">
		    <h1 class="">UX Design <small>Within3 Graphics &amp; Templates / User Interface</small></h1>
				
				<p>Within3 is a online platform that hosts communities in the healthcare and life sciences marketplace. All communities are individualy branded for existing medical associations or other orgaizations that center around a disease state, drug or treatment.</p>
				<p>A community uses social media tools that allow member discussions, moderater guided spotlights, member connections, moderated posts, resources sharing (photos, videos, files, etc.), and other forms of content.</p>
				
				<hr>
		</section>
		{% include graphic.html %}
		<hr>
		{% include interface.html %}

	</div>
</div>
<div id="prototypes" class="">
	<div class="container">
		<section class="">
		    <h1 class="">Prototypes <small></small></h1>
		</section>
		<hr>
		{% include prototypes.html %}
	</div>
</div>



