---
layout: default
section: base
---
<div class="gd-teaser-container">
	<div class="container">
		<section id="" class="section-head">
		    <h1 class="">UX Design <small>Graphics &amp; Templates / User Interface / Web Design</small></h1>
				<p>Our Module object is modeled after Nicole Sullivan's Module Object. The major difference is that our Module object does not have an inner child property. Its body, header and footer are direct children. The Module object doesn't add any visual treatments. Instead, it acts as a base object to be extended by other more granular objects.</p>
				<hr>
		</section>
		{% include graphic.html %}
		<hr>
		{% include interface.html %}

	</div>
</div>
<div id="prototypes" class="">
	<div class="container">
		<section class="">
		    <h1 class="">Prototypes <small></small></h1>
				<p>Our Module object is modeled after Nicole Sullivan's Module Object. The major difference is that our Module object does not have an inner child property. Its body, header and footer are direct children. The Module object doesn't add any visual treatments. Instead, it acts as a base object to be extended by other more granular objects.</p>
		</section>
		<hr>
		{% include prototypes.html %}
	</div>
</div>



